@use "./variables.module.scss" as vars;

.header {
  padding: 16px 32px;
  border-bottom: 1px solid vars.$borderColor;
  .title {
    font-size: 16px;
    margin: 0;
  }
}

.main {
  max-width: 986px;
  margin: 64px auto;
  box-sizing: border-box;
}
